.carrousel{
    width: 300vw;
    max-height: 40vh;
    min-height: 100px;
    display: flex;
    transition: transform .5s;
    transform: translateX(0);
    margin-bottom: 10px;


    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

        a {
            height: 100%;
        }

        .imgCarrousel {
            height: 100%;
            outline: solid 10px #232a42;
        }

    }
}